{% extends "NewwlyDashboardBundle::dashboard.html.twig" %}

{% block title %}NewwlyDashboardBundle:Newspaper:create{% endblock %}

{% block dashboard_content %}
<h1>Welcome at the Newspaper:create page</h1>
{% endblock dashboard_content %}
