{% extends "NewwlyDashboardBundle::dashboard.html.twig" %}

{% block title %}NewwlyDashboardBundle:Newspaper:list{% endblock %}

{% block dashboard_content %}
<h1>Welcome at the Newspaper:list page</h1>
{% endblock dashboard_content %}
