{% extends "NewwlyDashboardBundle::dashboard.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block dashboard_content %}

{% include "FOSUserBundle:Profile:show_content.html.twig" %}
<a class="forgot-passwd" href="{{ path('fos_user_profile_edit') }}">{{ 'profile.edit.submit'|trans }}</a>
{% endblock dashboard_content %}
