{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="form-signin">
	{{ form_widget(form) }}
	<fieldset>
		<button type="submit" class="btn btn-primary btn-login">{{ 'resetting.reset.submit'|trans }}</button>
	</fieldset>
</form>
