{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="span4">
			<h2>newwly</h2>
			<p>Lesen Sie Ihre individuell angepasste Zeitung als eBook.</p>
		</div>
		<div class="span3">
			<img src="{{ asset('/assets/img/kindle.jpg') }}" alt="" />
		</div>
		<div class="span5">
		{% block fos_user_content %}
		{% endblock fos_user_content %}
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<h3>Bootstrap starter template</h3>
			<p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
			<p class="btn btn-action">Konto erstellen</p>
		</div>
		<div class="span6">
			<h3>Bootstrap starter template</h3>
			<p>Use this document as a way to quick start any new project. All you get is this message and a barebones HTML document.</p>
			<p class="btn btn-primary">Mehr erfahren</p>
		</div>
	</div>
</div>
{% endblock %}

