.form-signin {
	padding: 5px 20px ((@navbarHeight - @baseLineHeight) / 2);
	background-color: @navbarBackground;
	border: 1px solid @navbarBorder;
   }
 
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}